{% extends 'base.html' %}

{% block content %}
<div class="master-ajuda">
    <div class="ajuda-info">
        <h1 class="title-ajuda">Ajuda</h1>
        <p class="p-ajuda">A tela de "Buscar" do JUS@RA é uma das funcionalidades mais importantes da plataforma, permitindo que você consulte informações detalhadas sobre a participação societária de indivíduos ou empresas de maneira rápida e eficiente. Se você deseja saber mais sobre a participação de uma pessoa física (CPF) ou jurídica (CNPJ) em diferentes empresas, basta seguir alguns passos simples.</p>
    </div>
    <div class="ajuda-imagens">
        <img src="" alt="foto" srcset="">
        <img src="" alt="foto" srcset="">
    </div>
</div>
{% endblock %}