{% extends 'base.html' %}

{% block content %}
<div class="master-ajuda">
    <div class="ajuda-info">
        <h1 class="title-ajuda">Ajuda</h1>
        <p class="p-ajuda">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum assumenda provident repellendus quibusdam, reiciendis aspernatur soluta recusandae! Quae aliquam rerum placeat adipisci quod numquam, illo praesentium velit excepturi similique non voluptatibus odio magni nostrum, omnis consequuntur animi exercitationem eaque expedita quaerat cum. Illo nam qui debitis cupiditate natus sint? Molestias?</p>
    </div>
    <div class="ajuda-imagens">
        <img src="" alt="foto" srcset="">
        <img src="" alt="foto" srcset="">
    </div>
</div>
{% endblock %}