<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <header class="header">
            <div class="divlogo">
                <h1>TCC Univesp</h1>
            </div>
            <div class="menu">
                <ul class="item">
                    <li class="item-meu"><a href="/">Pagina Inicial</a> </li>
        
                    <li class="item-meu" ><a href="sobre">Sobre Nos</a></li>
                    
                    <li class="item-meu"><a href="ajuda">Ajuda</a></li>
                    
                    <li class="login"><a href="login">Acessar</a></li>
                </ul>
            </div>  
        </header>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
       <!-- <script src="{{ url_for('static', filename='scripts.js') }}"></script> -->
    </body>
</html>
