{% extends 'base.html' %}

{% block content %}
<div class="master-buscar">
    <div class="modal-search">
        <h2 class="title-search">Buscar</h2>
        <form action="" method="post" class="modal-input">
            <div class="form-group-search">
                <label for="CPF" class="text-cpf">CPF</label><br>
                <input class="input-cpf"name="CPF" placeholder="Digite um CPF"class="form-control">{{ request.form['content'] }}</input>
            </div>
            <div class="content-search">
                <span></span>
                <span>OR</span>
                <span></span>
              </div>
            <div class="form-group-search">
                <label for="CNPJ" class="text-cpf">CNPJ</label><br>
                <input class="input-cpf"name="CNPJ" placeholder="Digite um CNPJ"class="form-control">{{ request.form['content'] }}</input>
            </div>
            <div class="btnsearch">
                <button class="button-send1"type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
    <div class="modal-result">
        <div class="frame">

            
        </div>
    </div>
</div>
{% endblock %}