{% extends 'base.html' %}

{% block content %}
<div class="master-home">
    <div class="divImage">
        <img src="" alt="foto principal">
    </div>
    <div class="info-home">
        <h3 class="title-main">o que e o Tcc ?</h3>
        <p class="p-main">infor de criacao</p>
        <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, illum assumenda? Assumenda perferendis facilis totam. Molestias ducimus, earum voluptate quos doloribus minima possimus nemo cumque optio expedita, iusto ipsum perferendis. Ab vero tempore ad.</p>
        <button class="button-info">Login</button>
    </div>
</div>
{% endblock %}