{% extends 'base.html' %}

{% block content %}
<div class="master-home">
    <div class="divImage">
        <img src="../static/foto-main.jpg" alt="foto principal" class="foto-main">
    </div>
    <div class="info-home">
        <h3 class="title-main">o que é  o jus@ra ?</h3>
        <p class="p-main">Atualizado em 11 Dezembro de 2024</p>
        <p class="info">O JUS@RA é uma aplicação web inovadora, desenvolvida para oferecer uma solução eficaz e ágil na consulta e análise de dados relacionados à participação societária de indivíduos em diversas empresas. Com o objetivo de facilitar o acesso a informações relevantes e de fácil compreensão, a plataforma se torna uma ferramenta indispensável para advogados, contadores, investidores e qualquer profissional que necessite de uma visão clara sobre a estrutura societária de organizações e a interdependência entre seus membros.</p>
        <button class="button-info"><a href="login">Acessar</a></button>
    </div>
</div>
{% endblock %}