{% extends 'base.html' %}

{% block content %}
<div class="masters">
    <div class="info-part">
        <h1 class="title-about">Sobre Nós</h1>
        <p class="info-p">O principal objetivo do JUS@RA é automatizar a busca e o processamento de dados empresariais, reunindo informações dispersas de fontes públicas e privadas sobre a participação de pessoas em diferentes empresas. Ao fazer isso, a plataforma garante que os usuários possam obter rapidamente dados atualizados sobre o quadro societário, promovendo uma análise eficiente e precisa, sem a necessidade de consultas manuais complexas.O JUS@RA representa um avanço significativo na maneira como acessamos e analisamos dados sobre a participação societária de indivíduos em empresas. Ao integrar informações dispersas em uma plataforma única, a aplicação promove maior transparência e eficiência no processo de tomada de decisões, garantindo que os usuários tenham acesso rápido, preciso e confiável às informações de que precisam.

            Com seu foco na automação e análise avançada de dados, o JUS@RA se posiciona como uma ferramenta essencial para profissionais de diversas áreas, contribuindo para um ambiente de negócios mais seguro, transparente e eficiente.</p>
    </div>
    <div class="images-part">
        <div class="card-grid">
            <div class="person-info">
                <div class="card_load"><img src="../static/foto3x4.PNG" alt=""class="foto-perfil"></div>
                <div class="card_load_extreme_descripion">Evandro Josias</div>
            </div>
            <div class="person-info">
                <div class="card_load"><img src="../static/rosinei.jpg" alt=""class="foto-perfil"></div>
                <div class="card_load_extreme_descripion">Rosinei Silva</div>
            </div>
  
            <div class="person-info">
                <div class="card_load"><img src="../static/jurandi.jpg" alt=""class="foto-perfil"></div>
                <div class="card_load_extreme_descripion">Jurandi Tavares</div>
            </div>
  
            <div class="person-info">
                <div class="card_load"><img src="../static/lin.jpg" alt=""class="foto-perfil"></div>
                <div class="card_load_extreme_descripion">Lin Je Lin</div>
            </div>
  
            <div class="person-info">
                <div class="card_load"><img src="../static/flavia.jpg" alt=""class="foto-perfil"></div>
                <div class="card_load_extreme_descripion">Flavia Tavares</div>
            </div>
            <div class="person-info">
                <div class="card_load"><img src="../static/sandra.jpg" alt=""class="foto-perfil"></div>
                <div class="card_load_extreme_descripion">Sandra Mara</div>
            </div>
            <div class="person-info">
                <div class="card_load"><img src="../static/reinaldo.jpg" alt="" class="foto-perfil"></div>
                <div class="card_load_extreme_descripion">Reinaldo Costa</div>
            </div>    
        </div>
    </div>
</div>
{% endblock %}