/* variaveis principais */
:root {
    --cor-principal:#0B3954;
    --cor-menu: rgb(24, 139, 233);
    --cor-background:#ffff;
    --cor-texto:  #ffff;
    --cor-botao:#522A27;
    --heightbox: 40px;
}

/* estilos padrao para todos os aquivos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-background);
    color: var(--cor-texto);
    justify-content: center;
}

/* estilos para o aquivo base.html */
.header{
    width:100%;
    height:6vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:var(--cor-principal);

}
.login{
    color:white;
    width:12%;
    transition: all 0.3s;
    height:38px;
    border-radius:10px;
    background:var(--cor-botao);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--cor-botao);
    box-shadow: 6px 6px 12px var(--cor-principal), -6px -6px 12px,var(--cor-principal);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    display:flex;
    justify-content: center;
    align-items:center;
}
.login:hover{
    transform: translateY(-0.2rem);
}
.container {
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.divlogo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
    width: 50%;
    color: var(--cor-texto);
    font-size: 1rem;
    height: 100%;
}

.menu{
    display: flex;
    justify-content:right;
    align-items: center;
    padding-right: 2%;
    width: 50%;
    height: 100%;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    list-style: none;
}

.item, li, a {
    text-decoration:none;
    color:var(--cor-texto)
}
.item-meu{
    
}


/* estilo para o aquivo login.html */
.divlogin {
    margin-top:6%;
    padding: 10px;
    height:70%;
    width:25%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--cor-principal);
    gap: 10px;
}
.login-info{
    width: 100%;
    height:20%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 10px;
    margin-top:5%;
}
.bola{
    font-weight: 400;
    padding-top:1px;
    margin-left:7%;
}
.bola:before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left:38.5%;
    padding-bottom:2px;
    padding-left:3px;
    border-radius: 50%;
    background-color:var(--cor-botao);
}

.lbltextos {
    margin: 5px;
    width: 100%;
    color: var(--cor-texto);
}

.btncenter {
    width: 100px;
    height: var(--heightbox);
    justify-content: center;
}
.forms{
    width:100%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.form-group{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:4%;
    height:30%;
}
.text-email{
    font-size:1.3rem;
    font-weight: 500;

}
.input-email{
    width:80%;
    background-color: var(--cor-background);
    border:none;
    border-radius:10px;
    height:39%;
    outline:none;
    transition:0.2s ease-in-out;
    box-shadow: 0px 10px 20px -18px;
    color: black;
    padding-inline-start:20px;
}
.input-email:focus{
        border-bottom: 4px solid var(--cor-botao);
        border-radius: 4px 4px 2px 2px;
 
}
.input-email:hover{
    outline: 1px solid lightgrey;
}

.text-password{
    font-size:1.3rem;
    font-weight: 500;

}
.input-password{
    width:80%;
    background-color: var(--cor-background);
    border:none;
    transition:0.2s ease-in-out;
    box-shadow: 0px 10px 20px -18px;
    border-radius:10px;
    height:39%;
    color: black;
    padding-inline-start:20px;
}

.input-password:focus{
    border-bottom: 4px solid var(--cor-botao);
    border-radius: 4px 4px 2px 2px;

}
.input-password:hover{
outline: 1px solid lightgrey;
}

.btncenter{
    width:100%;
    height:30%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.button-send{
    color:white;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    width:60%;
    transition: all 0.3s;
    height:40%;
    background:var(--cor-botao);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--cor-botao);
    box-shadow: 6px 6px 12px var(--cor-principal), -6px -6px 12px,var(--cor-principal);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.button-send:hover{
transform: translateY(-0.2em);
    
}

/* tela de sobre nos  */
.masters{
    width:100%;
    height:100%;
    display: flex;
    justify-content:center;
}
.info-part{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-top:4%;
    padding-left:5%;
    gap:4%;

}
.title-about{
    color:var(--cor-principal);
    font-size:3.0rem;
    
}
.info-p{
    color: black;
    width:80%;
    font-size:1.3rem;
    text-align:left;
    border-radius:10px;
}
.images-part{
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-grid{
    padding-left:25%;
    padding-top:10%;
    padding-right:5%;
    width:100%;
    height:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.person-info {
    width:40%;
    display:flex;
    gap:15px;
    height:16%;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    transform: translate(-50%, -50%);
    padding: 10px 10px;
  }
  
  .card_load {
    width:40%;
    height:99%;
    background-color:var(--cor-principal);
    border-radius: 50%;
  }
  
  .card_load_extreme_descripion {
    width:55%;
    height:60%;
    display:flex;
    align-items: center;
    color:white;
    padding-inline-start:10px;
    margin-top:5%;
    border-radius: 5px;
    background-color: var(--cor-principal);
  }
  
/* screen of helped */
.master-ajuda{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}
.ajuda-info{
    width:50%;
    height:100%;
    display: flex;
    gap:6%;
    padding-left:5%;
    padding-top:3%;
    flex-direction: column;

}
.title-ajuda{
    color:var(--cor-principal);
    font-size:2.9rem;
}
.p-ajuda{
    color:black;
    width:65%;
    font-size:1.5rem;
}
.ajuda-imagens{
    width:50%;
    height:100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap:25%;
    
}

/* screen of search */
.master-buscar{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
}
.modal-search{
    width:50%;
    height:100%;
    display: flex;
    padding-top:3%;
    padding-left:3%;
    flex-direction: column;
    align-items:start;
}
.modal-result{
    width:50%;
    height:100%;
    padding:0.5%;
    align-items:flex-end;
}
.frame{
    width:100%;
    height:100%;
    background-color: #0B3954;
}
.title-search{
    font-size:2.0rem;
    color:var(--cor-principal);
}
.modal-input{
    height:98%;
    width:100%;
    padding-top:10%;
    padding-left:6%;
    display: flex;
    flex-direction:column;
    gap:6%;
}
