:root {
    --cor-principal: #2c3e50;
    --cor-menu: rgb(24, 139, 233);
    --cor-texto:  #f0f0f0;
    --cor-botao: brown;
    --heightbox: 40px;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: var(--cor-texto);
    text-align: left;
    padding: 10px;
}

h2 {
    color: var(--cor-texto);
    text-align: left;
    padding: 10px;
}

label {
    color: var(--cor-texto);
}

input {
    height: var(--heightbox);
}

button {
    height: var(--heightbox);
    background-color: var(--cor-botao);
}

form {
    margin-top: 20px;
}

label, input, button {
    font-size: 20px;
    display: block;
    margin: 10px 0;
    margin-left: 10px;
    border-radius: 10px;
}

#hdl {
   justify-content: space-between;
}

#menu-h{
    background-color: rgb(37, 37, 39);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

#menu-h ul {
/*    max-width: 800px; */
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: var(--cor-texto);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: var(--cor-menu);
}

#menu-h ul li:last-child a {
/*    float: left; */
    background-color: var(--cor-menu);
}

#btnleft {
    float: left;
}

#btnright {
    float: right;
}

#dlgmodal {
    background-color: var(--cor-principal);
    border-radius: 20px;
    padding: 10px;    
}

#btncenter {
    width: 100px;
    height: var(--heightbox);
    justify-content: center;
}